<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
             file:C:\Users\a940517\eclipse-workspace\SpringCore\src\springSchemas\spring-beans.xsd            
             http://www.springframework.org/schema/context/spring-context
             http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- Soporte para archivos de propiedades -->
	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:datosEmpresa.propiedades</value>
			</list>
		</property>
	</bean>

	<!-- creación de la dependencia -->
	<bean id="miInforme" class="ioc.Informe"></bean>

	<bean id="miEmpleado" class="ioc.DirectorEmpleado">

		<constructor-arg ref="miInforme"></constructor-arg>

		<property name="email"
			value="${email}"></property>
		<property name="nombreEmpresa" value="${nombreEmpresa}"></property>

	</bean>

	<bean id="miSecretarioEmpleado" class="ioc.SecretarioEmpleado">

		<property name="informeNuevo" ref="miInforme"></property>

		<property name="email" value="secretario@nombreEmpresa.es"></property>
		<property name="nombreEmpresa" value="Eviden"></property>

	</bean>

</beans>