<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
             file:C:\Users\a940517\eclipse-workspace\SpringCore\src\springSchemas\spring-beans.xsd            
             http://www.springframework.org/schema/context/spring-context
             http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- creación de la dependencia -->
	<bean id="miInforme" class="ioc.Informe"></bean>


	<bean id="miSecretarioEmpleado" class="ioc.SecretarioEmpleado" scope="prototype">

		<property name="informeNuevo" ref="miInforme"></property>

	</bean>

</beans>

<!-- 
Tipos Scope 
	- singleton: apuntan los objetos a la misma memoria
	- prototype: apuntan los objetos a diferente sitio de memoria



-->